// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


body,html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.card-header{
    background-color: #FF851B;
}


.itemimage{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.nav-link ,.nav-link:hover{
    color: #000000;
}

.searchbar{
    margin-top: 2%;
    margin-bottom: 2%;
    //height: 60px;
    background-color: #ffffff;
    //border-radius: 30px;
    //padding: 10px;
    height: 4vw;
    border-radius: 2vw;
    padding: 0.66666vw;
}

.search_input{
    color: #000000;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    font-size: 20px;
    //line-height: 40px;
    line-height: 2.666666vw;
    transition: width 0.4s linear;
}

.searchbar:hover > .search_input{
    padding: 0 0.666666vw;
    width: 30vw;
    transition: width 0.4s linear;
}

.searchbar:hover > .search_icon{
    background: white;
    color: #ff9600;
}

.search_icon{
    height: 2.666666vw;
    width: 2.666666vw;

    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #ff9600;
}

.search_icon .fa-search {
    font-size: 20px;
}
.search_input::placeholder {
    font-size: 20px;
}

@media screen and (max-width: 700px) {
    .search_icon .fa-search {
        font-size: 15px;
    }

    .search_input::placeholder {
        font-size: 15px;
    }

    .search_input {
        font-size: 15px;
    }
//////////
    .searchbar:hover > .search_input{
        padding: 0 2.66666vw;
        width: 60vw;
    }

    .search_input{
        line-height: 2vw;
    }

    .searchbar{
        height: 8vw;
        border-radius: 4vw;
        padding: 2.666666vw;
    }

}


.covertextbig{
    font-size: 4rem;
    padding: 10px;
}

.covertextsmall{
    font-size: 1.5rem;

}


.coverimg{
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

@media screen and (max-width: 700px) {
    .cover{
        min-height: 300px;
    }

    .covertextbig{
        font-size: 50px;
        padding: 25px;
    }

    .covertextsmall{
        font-size: 25px;

    }
}

///test


////
